# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# V-env
.venv/
venv/
env/

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# JetBrains
.idea/

# Linux
*~
*.swp

# Environment Variables
.env

# Logs
*.log

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# SQLAlchemy
*.db-journal

# Build
dist/
build/
